<% if @article.errors.any? %> 
  <div class="alert alert-dismisible fade show" role="alert" id="alert-container">
    <h4 class="alert-heading">The following errors prevented the article from being saved:
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </h4>
    <%= render 'shared/errors', obj: @article %>
    </div> 
<% end %>

<%= form_with(model: @article,  local: true) do | f | %>
  <div class="form-group row" id="form-label">
    <%= f.label :title, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of Article" %>
    </div>
  </div>
  <div class="form-group row" id="form-label">
    <%= f.label :description, class: "col-2 col-form-label" %>
    <div class="col-10">
    <%= f.text_area :description, rows:10, class: "form-control shadow rounded", placeholder: "Description of Article" %>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8"> 
        
        <%= f.collection_check_boxes :category_ids, Category.all.order(name: :asc), :id, :name do |cb| %>
          <div class="form-check form-check-inline">
            <%= cb.label(class: "form-check-label") {cb.check_box(class: "form-check-input checkbox") + cb.text} %>
          </div>
        <% end %>
          
      </div>
    </div>
  </div>

  <div class="form-group row justify-content-md-center">
    <div>
      <%= f.submit class: "btn btn-success"  %>
    </div>
  </div>
  <div class="form-group row justify-content-md-center">
    <div>
      <%= link_to '[ Cancel and Return to Index ]', articles_path, class: "text-info"%>
    </div>
  </div>
<% end %>